@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.header {    
    display: flex;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(0 126 66 / var(--tw-bg-opacity));
    align-items: center;
}

.navbar-outline {
    width: 1200px;    
}

.navbar-main {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-main .imgLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar-main .imgLogo .image {
    overflow: hidden;
    width: auto;
    height: 50px;
}

.navbar-main .imgLogo .image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0.;
    border-radius: 100%;
}

.navbar-main .search {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.navbar-main .search input[type="Text"] {
    width: 270px;
    padding: 10px 5px;
    border: none;
}

.navbar-main .search i {
    scale: 1.5;
}

.navbar-main .location_droplist {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.navbar-main .location_droplist span {
    font-weight: 600;
}

.under-navbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.under-navbar .menu, .login {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
    color: white;
    background-color: black;
    padding: 3px 25px 3px 25px;
    background-color: rgb(1, 99, 47);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 239, 241);
}

.main .main-inline {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.main .main-inline .menu {
    width: 230px;
    position: sticky;
    height: calc(99.5vh - 114px);
    overflow: auto;
    scroll-behavior: smooth;
}

.menu::-webkit-scrollbar {
    display: none;
  }

.accordion-item {
    border: none !important;
}

.accordion-header {
    border-bottom: 1px solid gainsboro;
}

.accordion-header button {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
  }
  
  .accordion-button:hover {
    background-color: #f5f5f5;
  }
  
  .accordion-button {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: white;
    border: none;
  }
  