@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.header {    
    display: flex;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(0 126 66 / var(--tw-bg-opacity));
}

.navbar-outline {
    width: 1200px;

}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-main .imgLogo{
    overflow: hidden;
    width: auto;
    height: 100px;
    cursor: pointer;
}

.navbar-main .imgLogo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0.;
    border-radius: 100%;
}

.navbar-main .search {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.navbar-main .search input[type="Text"] {
    width: 270px;
    padding: 10px 5px;
    border: none;
}

.navbar-main .search i {
    scale: 1.5;
}

.navbar-main .location_droplist {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.navbar-main .location_droplist span {
    font-weight: 600;
}